<div ng-app="tsi">
    <div>
        <div class="container">
            <a href="createEmployees">New user</a>
            <a href="listEmployee">List user</a>
            <div ng-view></div>
        </div>
    </div>
    <script type="text/ng-template" id="listEmployee.html">
        <div>
            <h2>{{title}}</h2>
            <div class="row">
                <div class="col-md-2">Id</div>
                <div class="col-md-2">Nombre</div>
                <div class="col-md-2">Type Employee</div>
                <div class="col-md-2">Start Date</div>
                <div class="col-md-1">Salary</div>
                <div class="col-md-1">Hourly Rate</div>
            </div>
            <div class="row" ng-repeat="e in listEmployees">
                <div class="col-md-2">{{e.Id}}</div>
                <div class="col-md-2">{{e.Name}}</div>
                <div class="col-md-2" ng-if="e.isFullTime == true">Full Employee</div>
                <div class="col-md-2" ng-if="!e.isFullTime == true">Part Employee</div>
                <div class="col-md-2">{{e.StartDate}}</div>
                <div class="col-md-2">{{e.Salary}}</div>
                <div class="col-md-2">{{e.Hourly}}</div>
            </div>
        </div>
    </script>
</div>